app:
  user:
    default:
      cipher-digit: 10
      day-max-send-count: 200
#geetest相关，可不填
geetest:
  id: 1
  key: 1
  open: false
#通过qq互联登录相关，可不填
qq:
  QQAPPID: 1
  QQAPPKEY: 1
  back-url: https://localhost/#/control
  redirect_uri: https%3A%2F%2Flocalhost%2Fapi%2Fuser%2FqqLogin
server:
  port: 8000
spring:
  application:
    name: renxing-push
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    name: defaultDataSource
    url: jdbc:mysql://localhost:3306/renxing_push?characterEncoding=utf8&useSSL=false&serverTimezone=UTC&rewriteBatchedStatements=true&allowPublicKeyRetrieval=true
    username: renxing
    password: renxing
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    activate:
      on-profile:
        - dev
