app:
  system:
    name: 任性推
    domain: renxing.cc
    debug: true
    open-qq-msg: true
    open-telegram-msg: true
    open-qqgroup-whitelist-apply: true
    check:
      text:
        enabled: false
        # 可用private - 私有、baidu - 百度云
        use-type: private
      image:
        enabled: false
        # 可用private - 私有、aliyun - 阿里云
        use-type: private
        private-cloud-url: https://nsfw.imzdx.top/classify-many
  user:
    default-setting:
      # 生成cipher的长度
      cipher-digit: 10
      # 每日最大发送次数
      day-max-send-count: 200
  #下列配置项可根据实际情况自行修改或随便填写
  baidu:
    AppID: 123
    APIKey: 123
    SecretKey: 123
  aliyun:
    accessKeyId: 123
    accessKeySecret: 123
  geetest:
    id: 123
    key: 123
    enabled: false
  #用于使用qq互联注册/登录站内账户
  qq:
    APPID: 123
    AppKey: 123
    back-url: 123
    redirect-uri: 123
  telegram:
    bot-token: 123
    bot-name: telegram-bot
    creator-id: 132
    proxy-host: localhost
    proxy-port: 7890
server:
  port: 8000
spring:
  application:
    name: renxing-push
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    name: defaultDataSource
    url: jdbc:mysql://localhost:3306/renxing_push?characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2b8&rewriteBatchedStatements=true&allowPublicKeyRetrieval=true
    username: renxing
    password: renxing
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
#onebot11配置
shiro:
  ws:
    client:
      enable: true
      url: "ws://123.123.123.123:50001"
    access-token: 123
